@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alata&family=Bebas+Neue&family=Concert+One&family=Creepster&family=Delicious+Handrawn&family=Indie+Flower&family=Itim&family=Montserrat&family=Mukta&family=Nanum+Pen+Script&family=Pangolin&family=Parisienne&family=Playfair&family=Special+Elite&display=swap');

#titulo {
    display: flex;
    justify-content: center;
}

#paragrafo  {
    display: flex;
    justify-content: center;
    text-align: center;
}

#botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}